@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato:wght@300;700&family=Stint+Ultra+Condensed&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bungee Spice", sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

